<div class="container">
  <div class="page-header">
    <h1>Welcome to Index page</h1>
  </div>

	<% if current_user.nil? %>
		<%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %>
	<% else %>
		<%= link_to users_dashboard_path, class: 'login-button' do %>Go to App<% end %>
	<% end %>
</div>
