 @import "bootstrap-sprockets";
 @import "bootstrap";



 // Core variables and mixins
 @import "bootstrap/variables";

 // Components
 @import "bootstrap/navs";
  $navbar-inverse-bg: #003366; // variable initializing
  $navbar-height: 34px;
  $navbar-collapse-max-height: 340px;
  $navbar-default-link-color: #c8c8c8;
  $navbar-default-link-hover-color: #ffffff;

  $gray-light: #777;
  $gray-medium-light: #eaeaea;

 @import "bootstrap/navbar";

body {
   padding-top: 70px;
}


.center {
    text-align: center;
   h1 {
    margin-bottom: 10px;
  }
}


/* FOOTER *********************************************************************/
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: $gray-light;
    a  {
      color: $gray;
      &:hover  {
        color: $gray-darker;
      }
    }

}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
    li  {
      float: left;
      margin-left: 15px;
    }
}
