<footer class="footer">
  <small>
    Footer Rapidiously reintermediate scalable expertise for cost effective intellectual capital.
    Appropriately plagiarize distributed models and end-to-end processes. Progressively.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
